@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Martian+Mono:wght@100..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Martian+Mono:wght@100..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    padding: 30px 80px;
    max-width: 100%;
    background-color: #F5F5F5;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 100px;
    padding: 0px;
    position: sticky;
}
a {
    text-decoration: none;
    font-family:'Karla';
    color:#000000;
}
a:hover {
    text-decoration: underline;
    font-weight: normal;
    color:#2E3CC2;
}
a.btn {
    text-decoration: none;
}
.top {
    color: #000000;
    padding: 6px 15px;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.3s;
    padding: 8px 17px;
    background-color: #F5F5F5;
    border-radius: 25px;
}
.top:hover {
    font-weight: normal;
    padding: 8px 17px;
    color: #000000;
    background-color: #E0E0E0;
    border-radius: 25px;
}
.bottom {
    color: #000000;
    font-family:'Karla';
    font-weight: normal;
    margin-right: 10px;
    margin-left: 10px;
    padding: 6px 15px;
    background-color: #F5F5F5;
    border-radius: 25px;
    outline: 2px solid #2E3CC2;
    transition: 0.3s;
}
.bottom:hover {
    color: #FFFFFF;
    background-color: #2E3CC2;
    border-radius: 25px;
    outline: 2px solid #2E3CC2;
    font-weight: normal;
}
nav ul, footer ul {
    font-family:'Karla';
    padding: 0px;
    list-style: none;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline;
}
h1 {
    margin: 30px 30px 30px 0px;
    font-size: 2em;
    font-family:'Karla';
    color:#000000;
}
h2 {
    margin: 0px;
    font-size: 1.5em;
    font-family:'Karla';
    font-weight: bold;
}
h3 {
    font-size: 1.2em;
    font-family:'Karla';
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0px;
    margin-top: 0px;
}
h4 {    
    font-size: 0.7em;
    font-family:'Karla';
    line-height: 1em;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #000000;
}
p {
    font-size: 1em;
    font-family:'Karla';
    line-height: 1.2em;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: justify;
    text-justify: inter-word;
}
logo {
    font-family: 'Karla';
    font-size: 2em;
    font-weight: bold;
}

ul.posts { 
    font-family:'Karla';
    font-weight: normal;
    font-size: 1.5em;
    color:#000000;
}  

ul.posts li {
    list-style: none;
    font-family:'Karla';
}
footer {
    border-top: 30px solid #FFFFFF;
    font-size: .8em;
}
