body {
    margin: 60px auto;
    width: 70%;
    background-color: #FFFFFF;
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30 10px;
}
a {
    text-decoration: none;
    font-family:'Microsoft Sans Serif';
    color:#1E2529;
}
a:hover {
    text-decoration: underline;
    font-weight: normal;
    color:#B62DFF;
}
a.btn {
    text-decoration: none;
}
.top {
    color: #1E2529;
    padding: 6px 15px;
    margin-right: 20px;
    border-radius: 25px;
    transition: 0.3s;
    padding: 8px 17px;
    background-color: #FFFFFF;
    border-radius: 25px;
}
.top:hover {
    font-weight: normal;
    padding: 8px 17px;
    color: #1E2529;
    background-color: #F5F5F5;
    border-radius: 25px;
}
.bottom {
    color: #1E2529;
    font-family:'Microsoft Sans Serif';
    font-weight: normal;
    padding: 6px 15px;
    background-color: #FFFFFF;
    border-radius: 25px;
    outline: 2px solid #0066FF;
    transition: 0.3s;
}
.bottom:hover {
    color: #FFFFFF;
    background-color: #0066FF;
    border-radius: 25px;
    outline: 2px solid #0066FF;
    font-weight: normal;
}
nav ul, footer ul {
    font-family:'Microsoft Sans Serif';
    padding: 0px;
    list-style: none;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline;
}
h1 {
    margin: 30px 30px 30px 0px;
    font-size: 2em;
    font-family:'Microsoft Sans Serif';
    color:#1E2529;
}
h2 {
    margin: 0px;
    font-size: 1.5em;
    font-family:'Microsoft Sans Serif';
    font-weight: bold;
}
h3 {
    font-size: 1.2em;
    font-family:'Microsoft Sans Serif';
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0px;
    margin-top: 0px;
}
h4 {    
    font-size: 0.8em;
    font-family:'Microsoft Sans Serif';
    font-weight: bold;
    line-height: 0.9em;
    margin-bottom: 5px;
    margin-top: 5px;
}
p {
    font-size: 1em;
    font-family:'Microsoft Sans Serif';
    line-height: 1.2em;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: justify;
    text-justify: inter-word;
}

ul.posts { 
    font-family:'Microsoft Sans Serif';
    font-weight: normal;
    font-size: 1.5em;
    color:#1E2529;
}  

ul.posts li {
    list-style: none;
    font-family:'Microsoft Sans Serif';
}
footer {
    border-top: 30px solid #F5F5F5;
    font-size: .8em;
}
