@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dela+Gothic+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Martian+Mono:wght@100..800&family=Sankofa+Display&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 100px;
    padding: 30px 80px 0px 80px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0px;
  background-color: #FFFFFF;
  transition: all 0.4s ease-in-out;
}
header.active{
    background-color: #FFFFFF;
    box-shadow: 0px 12px 20px 2px rgba(0, 0, 0, .1);
    padding: 0px 80px 0px 80px;
     
}
a {
    text-decoration: none;
    font-family:'DM Sans';
    color:#000000;
}
a:hover {
    text-decoration: underline;
    font-weight: normal;
    color:#0083F5;
}
a.btn {
    text-decoration: none;
}
.top {
    color: #000000;
    padding: 6px 15px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.3s;
    padding: 8px 17px;
    background-color: #FFFFFF;
    border-radius: 25px;
}
.top:hover {
    font-weight: normal;
    padding: 8px 17px;
    color: #000000;
    background-color: #F1EBFF;
    border-radius: 25px;
}
.github {
    color: #000000;
    font-family:'DM Sans';
    font-weight: normal;
    margin-right: 10px;
    margin-left: 10px;
    padding: 6px 15px;
    background-color: #FFFFFF;
    border-radius: 25px;
    outline: 2px solid #8652FF;
    transition: 0.3s;
}
.github:hover {
    color: #000000;
    background-color: #F1EBFF;
    border-radius: 25px;
    outline: 2px solid #F1EBFF;
    font-weight: normal;
}
nav ul {
    font-family:'DM Sans';
    padding: 0px;
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline;
}
logo {
    font-family: 'DM Sans';
    font-size: 2.3em;
    font-weight: bold;
}
h1 {
    font-size: 1.7em;
    font-family:'DM Sans';
    color:#000000;
    line-height: 1.1em;
    font-weight: bold;
}
h2 {
    font-size: 1.6em;
    font-family:'DM Sans';
    color:#8652FF;
    line-height: 1.1em;
    font-weight: normal;
}
b {
    font-family:'DM Sans';
    color:#8652FF;
    line-height: 1.1em;
    font-weight: bold;
}

u {
    font-family:'DM Sans';
    color:#000000;
    line-height: 1.1em;
    font-weight: bold;
    text-decoration: #8652FF underline;
    text-decoration-thickness: 0.15rem;
}

p {
    font-size: 1em;
    font-family:'DM Sans';
    line-height: 1.2em;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: justify;
    text-justify: inter-word;
}
.grid-container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
background-image: url("../images/icon background-05.png");
	background-position: center;
  background-size: contain;
	background-repeat: no-repeat;
  padding: 0px;
  justify-content: center;
  margin: 0px 80px;
}
.grid-container > div {
  text-align: left;
  text-justify: inter-word;
}
.grid-item1 {
	box-sizing: border-box;
	color:#000000;
  grid-column-start: 1;
  grid-column-end: 6;
  background-color: #FFFFFF;
	padding: 0px  0px;
	border-radius: 25px;
  margin: 0px;
  order: 1;

}
.grid-item2 {
	box-sizing: border-box;
	background-image:       url(https://www.svgrepo.com/show/404545/avatar-man-profile-user-3.svg);
	background-position: center;
  background-size: contain;
	background-repeat: no-repeat;
  grid-column-start: 6;
  grid-column-end: 7;
	padding: 110px  120px;
	border-radius: 25px;
  margin: 0px;
  order: 2;
}

.grid-container2 {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: 20px 0px;
  background-color: #F5F5F5;
  padding: 20px 80px;
}
.grid-container2 > div2 {
  text-align: left;
  text-justify: inter-word;
}
.grid-item99 {
	box-sizing: border-box;
	color:#000000;
  grid-column-start: 1;
  grid-column-end: 3;
	padding: 10px  10px;

  order: 1;
  height: 100%;

}
.grid-item98 {
	box-sizing: border-box;
	color:#000000;
  grid-column-start: 3;
  grid-column-end: 5;
	padding: 20px  20px;
  margin: auto;
  order: 1;
  height: 100%;

}
