body {
    margin: 60px auto;
    width: 70%;
    background-color: #F6F1F9;
}
a.btn {
    text-decoration: none;
}
.top {
    color: #2D3047;
    padding: 10px 20px;
    background-color: #EDE2F3;
    border-radius: 25px;
}
.top:hover {
    background-color: #FFFFFF;
}
.bottom {
    color: #2D3047;
    font-weight: normal;
    padding: 6px 15px;
    background-color: #F6F1F9;
    border-radius: 25px;
    border: 2px;
    border-color: #EDE2F3;
}
.bottom:hover {
    background-color: #EDE2F3;
    border: 2px;
    border-color: #EDE2F3;
}
nav ul, footer ul {
    font-family:'Helvetica';
    padding: 0px;
    list-style: none;
    text-align: center;
}
nav ul li, footer ul li {
    display: inline;
    margin-left: 20px;
}
a {
    text-decoration: none;
    color:#2D3047;
}
a:hover {
    text-decoration: none;
    font-weight: normal;
    color:#2D3047;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica';
    color:#2D3047;
}
p {
    font-size: 1.5em;
    font-family:'Helvetica';
    line-height: 1.4em;
    color:#2D3047;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-family:'Helvetica';
    font-size: 1.5em;
    color:#2D3047;
}

ul.posts:hover {
    color:#B969C9
}

ul.posts li {
    list-style: none;
    font-family:'Helvetica';
}
