body {
    margin: 60px auto;
    width: 70%;
}
a.btn {
    text-decoration: none;
    border-radius: 25px;
}
.top {
    color: #2D3047;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #E2CFEA;
}
.top:hover {
    background-color: #A06CD5;
}
.bottom {
    color: #2D3047;
    font-weight: normal;
    padding: 10px 20px;
    background-color: #F6F1F9;
}
.bottom:hover {
    background-color: #E2CFEA;
}
nav ul {
    font-family:'Helvetica';
    padding: 0px;
    list-style: none;
    text-align: center;
}
footer ul {
    font-family:'Helvetica';
    padding: 0px;
    list-style: none;
    text-align: left;
}
nav ul li, footer ul li {
    display: inline;
    margin-left: 20px;
}
a {
    text-decoration: none;
    color:#2D3047;
}
a:hover {
    text-decoration: none;
    font-weight: normal;
    color:#2D3047;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica';
    color:#2D3047;
}
p {
    font-size: 1.5em;
    font-family:'Helvetica';
    line-height: 1.4em;
    color:#2D3047;
}
footer {
    border-top: 1px solid #FFFFFF;
    font-size: .8em;
    color:#2D3047;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-family:'Helvetica';
    font-size: 1.5em;
    color:#2D3047;
}

ul.posts li {
    list-style: none;
    font-family:'Helvetica';
}
