@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dela+Gothic+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Martian+Mono:wght@100..800&family=Sankofa+Display&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dela+Gothic+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Martian+Mono:wght@100..800&family=Sankofa+Display&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    background-image: url("../images/background2-06.png");
    background-position-y: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 100px;
    padding: 10px 80px 10px 80px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0px;
  background-color: #FFFFFF;
  transition: all 0.4s ease-in-out;
}
header.active{
    background-color: #FFFFFF;
    box-shadow: 0px 12px 20px 2px rgba(0, 0, 0, .1);
    padding: 0px 80px 0px 80px;
     
}
a {
    text-decoration: none;
    font-family:'Spline Sans Mono';
    color:#000000;
}
a:hover {
    text-decoration: none;
    font-weight: normal;
}
a.btn {
    text-decoration: none;
}
.top {
    color: #000000;
    padding: 6px 15px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.3s;
    padding: 8px 17px;
    background-color: #FFFFFF;
    border-radius: 25px;
}
.top:hover {
    font-weight: normal;
    padding: 8px 17px;
    color: #000000;
    background-color: #F1EBFF;
    border-radius: 25px;
}
.topcurrent {
    color: #8652FF;
    padding: 6px 15px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.3s;
    padding: 8px 17px;
    background-color: #FFFFFF;
    border-radius: 25px;
}
.topcurrent:hover {
    font-weight: normal;
    padding: 8px 17px;
    color: #000000;
    background-color: #F1EBFF;
    border-radius: 25px;
}
.github {
    color: #000000;
    font-family:'DM Sans';
    font-weight: normal;
    margin-right: 10px;
    margin-left: 10px;
    padding: 6px 15px;
    background-color: #F1EBFF;
    border-radius: 25px;
    transition: 0.3s;
}
.github:hover {
    color: #FFFFFF;
    background-color: #8652FF;
    border-radius: 25px;
    font-weight: normal;
}
nav ul {
    font-family:'DM Sans';
    padding: 0px;
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline;
}
logo {
    font-family: 'DM Sans';
    font-size: 2.3em;
    font-weight: bold;
}
h1 {
    font-size: 2.3em;
    font-family:'DM Sans';
    color:#000000;
    line-height: 1.1em;
    font-weight: bold;
}
h2 {
    font-size: 1.8em;
    font-family:'DM Sans';
    color:#000000;
    line-height: 1.1em;
    font-weight: bold;
}
h3 {
	font-size: 1em;
    font-family:'DM Sans';
    color:#000000;
    line-height: 1.1em;
    font-weight: bold;
	margin: 0px;
}
h4 {
	font-size: 1.2em;
    font-family:'DM Sans';
    color:#000000;
    line-height: 1.3em;
    font-weight: bold;
	margin: 0px;
}
h5 {
    font-size: 1.8em;
    font-family:'DM Sans';
    color:#8652ff;
    line-height: 1.1em;
    font-weight: bold;
}
b {
    font-family:'DM Sans';
    color:#8652FF;
    line-height: 1.1em;
    font-weight: bold;
}

u {
    font-family:'DM Sans';
    color:#000000;
    line-height: 1.1em;
    font-weight: bold;
    text-decoration: #8652FF underline;
    text-decoration-thickness: 0.15rem;
}

p {
    font-size: 1em;
    font-family:'DM Sans';
    line-height: 1.2em;
    margin: 0px;
    text-align: center;
    text-justify: inter-word;
}
p2 {
    font-size: 1em;
    font-family:'DM Sans';
    line-height: 1.2em;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: justify;
    text-justify: inter-word;
}
p3 {
    font-size: 1.8em;
    font-family:'DM Sans';
    line-height: 1.2em;
    margin: 0px;
    text-align: center;
    text-justify: inter-word;
    font-weight: bold;
}
p4 {
    font-size: 0.9em;
    font-family:'DM Sans';
    line-height: 1.2em;
    margin: 0px;
    text-align: center;
    text-justify: inter-word;
}

h6 {
    font-size: 1.4em;
    font-family:'DM Sans';
    color:#000000;
    line-height: 1.1em;
    font-weight: normal;
    margin: 10px;
}

.grid-container7{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0px;
  margin: 80px 150px 80px 150px;
  justify-content: center;
}

.flex-item71{
	background-color: #FFFFFF;
	border-radius: 25px;
	padding: 0px 0px 35px 0px;
	transition: 0.3s;
	margin: 15px;
	
	display: grid;
  	gap: 0px;
 	transition: 0.3s;
  	justify-content: center;
    flex: 1;
    max-width: 315px;
    min-width: 315px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
}

.flex-item71:hover{
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, .2);
}

.title {
	text-align: center;
	padding: 0px 30px 5px 30px;
}
.des {
	text-align:center;
}
.image img{
	width: 315px;
	height: 210px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
  background-color: #FFFFFF;
}
a {
    text-decoration: none;
    font-family:'DM Sans';
    color:#1E2529;
}
a:hover {
    text-decoration: underline;
    font-weight: normal;
    color:#0066FF;
}
a.btn {
    text-decoration: none;
}
.readme {
    color: #1E2529;
    font-family:'DM Sans';
    font-weight: normal;
    padding: 6px 15px;
    background-color: #F1EBFF;
    border-radius: 25px;
    transition: 0.3s;
}
.readme:hover {
    color: #FFFFFF;
    background-color: #8652FF;
    border-radius: 25px;
    font-weight: normal;
}



.grid-container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 40px 0px 30px 0px;
  justify-content: center;
  margin: 0px 0px;
}
.grid-container > div {
  text-align: center;
  text-justify: inter-word;
}
.grid-item1 {
	box-sizing: border-box;
	color:#000000;
  grid-column: 2;
	padding: 0px  0px;
	border-radius: 25px;
  margin: 0px;
  order: 1;

}
