@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dela+Gothic+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Martian+Mono:wght@100..800&family=Sankofa+Display&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dela+Gothic+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Martian+Mono:wght@100..800&family=Sankofa+Display&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF;
  height: auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 120px;
    padding: 0px 80px 0px 80px;
    top: 0;
    margin: 0px;
  background-color: #FFFFFF;
  transition: all 0.4s ease-in-out;
}
a {
    text-decoration: none;
    font-family:'DM Sans';
    color:#008BF5;
}
a:hover {
    text-decoration: underline;
    font-weight: normal;
}
a.btn {
    text-decoration: none;
}
.top {
    color: #000000;
    font-family:'Spline Sans Mono';
    font-weight: normal;
    padding: 6px 15px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.3s;
    padding: 8px 17px;
    background-color: #FFFFFF;
    border-radius: 25px;
}
.top:hover {
    font-weight: normal;
    padding: 8px 17px;
    color: #000000;
    background-color: #E3EFFF;
    border-radius: 25px;
}
.topcurrent {
    color: #0075F2;
    font-family:'Spline Sans Mono';
    font-weight: normal;
    padding: 6px 15px;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.3s;
    padding: 8px 17px;
    background-color: #FFFFFF;
    border-radius: 25px;
}
.topcurrent:hover {
    font-weight: normal;
    padding: 8px 17px;
    color: #000000;
    background-color: #E3EFFF;
    border-radius: 25px;
}
.github {
    color: #000000;
    font-family:'Spline Sans Mono';
    font-weight: normal;
    margin-right: 10px;
    margin-left: 10px;
    padding: 6px 15px;
    background-color: #FFFFFF;
    border-radius: 25px;
    transition: 0.3s;
}
.github:hover {
    color: #FFFFFF;
    background-color: #0075F2;
    border-radius: 25px;
    font-weight: normal;
}
nav ul {
    font-family:'DM Sans';
    padding: 0px;
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline;
}
logo {
    font-family: 'DM Sans';
    font-size: 2.3em;
    font-weight: bold;
}
h1 {
    font-size: 2.3em;
    font-family:'DM Sans';
    color:#000000;
    line-height: 1.1em;
    font-weight: bold;
}
h2 {
    font-size: 1.8em;
    font-family:'DM Sans';
    color:#000000;
    line-height: 1.1em;
    font-weight: bold;
   margin: 5px;
}
h3 {
    font-size: 1.5em;
    font-family:'DM Sans';
    color:#000000;
    line-height: 1.1em;
    font-weight: bold;
   margin: 15px 30px;
}
b {
    font-family:'DM Sans';
    line-height: 1.1em;
    font-weight: bold;
}

u {
    font-family:'DM Sans';
    color:#000000;
    line-height: 1.1em;
    font-weight: bold;
    text-decoration: #8652FF underline;
    text-decoration-thickness: 0.15rem;
}

p {
    font-size: 1em;
    font-family:'DM Sans';
    line-height: 1.2em;
    margin: 0px;
    text-align: center;
    text-justify: inter-word;
}
p1 {
    font-size: 1em;
    font-family:'DM Sans';
    line-height: 1.4em;
    margin-bottom: 1em; 
    text-align: justify;
    text-justify: inter-word;
}
p11 {
    font-size: 1em;
    font-family:'DM Sans';
    line-height: 1.4em;
    margin-bottom: 0em; 
    text-align: justify;
    text-justify: inter-word;
}
p2 {
    font-size: 1em;
    font-family:'DM Sans';
    line-height: 1.2em;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: justify;
    text-justify: inter-word;
}
p3 {
    font-size: 1.8em;
    font-family:'DM Sans';
    line-height: 1.2em;
    margin: 0px;
    text-align: center;
    text-justify: inter-word;
    font-weight: bold;
}
p4 {
    font-size: 0.9em;
    font-family:'Spline Sans Mono';
    line-height: 1.2em;
    margin: 0px;
    text-align: center;
    text-justify: inter-word;
}
p5 {
    font-size: 1.2em;
    font-family:'Spline Sans Mono';
    line-height: 1.2em;
    margin: 0px 0px 5px 0px;
    text-align: center;
    text-justify: inter-word;
    background-color: #D6E9FF;
    color: #000000;
}


postheader {
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 15px 80px 15px 80px;
    margin: 0px;
  height:80px;
  background-color: #FEFEFE;
  transition: all 0.5s ease-in-out;
     position: -webkit-sticky;
    position: sticky;
	z-index: 101;
}
postheader.active{
    background-color: #FFFFFF;
    box-shadow: 0px 12px 20px 2px rgba(0, 0, 0, .1);
    padding: 15px 80px 15px 80px;
  top:0;
     
}
postheader > div {
  text-align: center;
  text-justify: inter-word;
}



.prev {
	box-sizing: border-box;
  grid-column: 1;
}
.prevgrid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px 10px;
  align-items: center;
  font-family:'Spline Sans Mono';
  font-weight: normal;
  color:#008BF5;
  background-color: #EEF6FF;
  border-radius: 25px;
  gap: 10px;
  height:30px;
  width: 90px;
  transition: 0.3s;
}
.prevgrid:hover{
  color:#EEF6FF;
  background-color: #008BF5;
}
.prevgrid1{
  column: 1;
  background-image: url("../images/arrow-25.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 15px;
  width: 26px;
  height: 26px;
}




.next {
	box-sizing: border-box;
	color:#008BF5;
  grid-column: 5;
}
.nextgrid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px 10px;
  align-items: center;
  color:#008BF5;
  font-family:'Spline Sans Mono';
  font-weight: normal;
  background-color: #EEF6FF;
  border-radius: 25px;
  gap: 10px;
  height:30px;
  width: 90px;
  transition: 0.3s;
}
.nextgrid:hover{
  color:#EEF6FF;
  background-color: #008BF5;
}
.nextgrid1{
  column: 1;
  background-image: url("../images/arrow2-26.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 15px;
  width: 26px;
  height: 26px;
}

.posttitle{
  grid-column:3;
}

.grid-container0 {
  border-radius: 30px;
  display: grid;
  margin: 0px 150px;
  padding: 0px;
  justify-content: left;
  text-align: left;
  background-color: #FFFFFF;
}

.grid-container {
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:10px;
  margin: 0px 150px 20px 150px;
  padding: 0px;
  justify-content: left;
  text-align: left;
  background-color: #FFFFFF;
}
.grid-container > div {
}
.grid-item1 {
  border-radius: 30px;
  display: grid;
  grid-column: 1;
  grid-template-rows: auto auto auto;
  gap:10px;
  margin: 0px;
  padding: 20px 30px;
  justify-content: justify;
  text-justify: inter-word;
}
.grid-item2 {
  border-radius: 30px;
  grid-column: 2;
  margin: 0px;
  padding: 0px;
  justify-content: left;
  text-align: left;
  background-image: url("../images/MDT-18-18.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.grid-container2 {
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 15px  30px;
  margin: 0px 150px 0px 150px;
  padding: 5px 35px 10px 35px;
  justify-content: left;
  text-align: left;
  background-color: #EEF6FF;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0);
}

.grid-container2 > div {
}

.grid-item21{
  row: 2;
  column: 1;
  background-image: url("../images/array-30.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  aspect-ratio: 1/1;
  padding: 10px;
}
.grid-item22{
  row: 2;
  column: 2;
  background-image: url("../images/array-31.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  aspect-ratio: 1/1;
  padding: 10px;
}
.grid-item23{
  row: 2;
  column: 3;
  background-image: url("../images/array-32.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  aspect-ratio: 1/1;
  padding: 10px;
}
.grid-item24{
font-family: "DM Sans";
margin: 10px;
row: 1;
text-align: center;
text-justify: inter-word;
}

.grid-container3 {
  border-radius: 30px;
  margin: 40px 150px 30px 150px;
  padding: 20px 40px 20px 40px;
  justify-content: left;
  text-align: left;
  background-color: #EEF6FF;
}

.grid-container4 {
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap:20px;
  margin: 0px 150px 0px 150px;
  justify-content: left;
  text-align: left;
  padding: 40px;
}
.grid-container4 > div {
}
.grid-item40 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  text-align: justify;
  text-justify: inter-word;
}
.grid-item41 {
  grid-column: 1;
  grid-row: 2;
  background-image: url("../images/magnet-22.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  background-position: center;
  height: 370px;
}
.grid-item42 {
  grid-column: 2;
  grid-row: 2;
  background-image: url("../images/magnet-20.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.grid-container5 {
  border-radius: 30px;
  margin: 0px 150px 0px 150px;
  text-align: justify;
  text-justify: inter-word;
  background-color: #FFFFFF;
  padding: 0px 30px 20px 30px;
}


.grid-container6 {
  border-radius: 50px;
  width: 560px;
  margin: 10px auto;
  text-align: center;
  background-color: #FFFFFF;
  padding: 0px;
}

.grid-container7{
  margin: 0px 150px 0px 150px;
  display: grid;
  padding: 0px 30px 30px 30px;
  gap: 0px 20px;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto auto;
}

.grid-container7 > div {
}


.grid-item71 {
  margin: 5px auto;
  text-align: justify;
  text-justify: inter-word;
  padding: 0px;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end:3;
  display: grid;
  gap: 10px;
  grid-template-rows: auto auto auto auto;
}
.grid-item711 {
  margin: 0px;
  text-align: justify;
  text-justify: inter-word;
  padding: 0px;
}

.grid-item72{
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 10px;
  background-image: url("../images/twomagnet-23.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  border-radius: 15px;
}
.grid-item73{
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 10px;
  background-image: url("../images/twomagnet-24.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  border-radius: 15px;
}

.contentfade{
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  justify-content: center;
  background: rgba(255,255,255,0.7);
  align-items: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 0.4s;
}

.contentfade:hover{
  opacity: 1;
}

.grid-container8{
  margin: 10px 150px 10px 150px;
  height: 320px;
  background-image: url("../images/overlap-25.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid-container9 {
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
  margin: 0px 150px 0px 150px;
  justify-content: left;
  text-align: left;
  padding: 0px 30px;
}
.grid-container9 > div {
}
.grid-item9 {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: justify;
  text-justify: inter-word;
}
