<!DOCTYPE html>
	<html>
		<header>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/aboutstyle.css">
		</header>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" class="btn top">home</a></li>
		        	<li><a href="/about-me" class="btn top">about me</a></li>
	        		<li><a href="/Geography" class="btn top">geography</a></li>
	        		<li><a href="/Physics" class="btn top">physics</a></li>
				<li><a href="/Portfolio" class="btn top">portfolio</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:annasmail1803gmail.com" class="btn bottom">email</a></li>
	        		<li><a href="https://github.com/annasmail" class="btn bottom">my github</a></li>
				</ul>
			</footer>
		</body>
	</html>
