<!DOCTYPE html>
	<html>
		<header>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/CVstyle.css">
		</header>
		<body>
			<nav>
	    			<ul class="nav_links">
	        			<li><a href="/" class="btn top">home</a></li>
		        		<li><a href="/about-me" class="btn top">about me</a></li>
	        			<li><a href="/geography" class="btn top">geography</a></li>
	        			<li><a href="/physics" class="btn top">physics</a></li>
					<li><a href="/CV" class="btn top">CV</a></li>
				</ul>
				<ul class="contact_links">
	    			  	<li><a href="mailto:annasmail1803gmail.com" class="btn bottom">email</a></li>
	        			<li><a href="https://github.com/annasmail" class="btn bottom">my github</a></li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		</footer>
		</body>
	</html>
