<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/CVstyle.css">
		</head>
		<header>
			<logo>My Website!</logo>
			<nav>
	    			<ul class="nav_links">
	        			<li><a href="/" class="btn top">Home</a></li>
		        		<li><a href="/about-me" class="btn top">About Me</a></li>
					<li><a href="/physics" class="btn top">Physics</a></li>
					<li><a href="/earth-sciences" class="btn top">Earth Sciences</a></li>
					<li><a href="https://github.com/annasmail" class="btn bottom">My Github</a></li>
				</ul>
			</nav>
		</header>
		<body>

						
			{{ content }}
			
		</body>
	</html>
